#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainPanel {
  color: #fff;
  background: rgba(200, 200, 200, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 1);

  padding: 16px;
  display: inline-block;
  text-align: start;

  width: 60vw;
  height: 80vh;
}

.title {
  display: inline;
  text-align: left;
}

.iconMini {
 max-height: 92px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
